<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Business Contact</title>
  </head>
  <body>
    <%=contact.name %><br>
    <%=contact.description%><br>
    <%=contact.email %><br>
    <%=contact.phone %><br>
    <%=contact.Category.name %><br>
    <%=contact.City.name %><br>
    <form method = "post" action ="">
    <button> Edit</button>
  </form><br>
    <form method = "post" action ="">
    <button> Delete</button>
    </form>
  </body>
</html>
