<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Business Contact</title>
  </head>
  <body>
    <h1><%=contact.name %></h1>
    <%=contact.description%><br>
    <%=contact.email %><br>
    <%=contact.phone %><br>
    <h3>Category</h3>
    <%=contact.Category.name %><br>
    <h3>City</h3>
    <%=contact.City.name %><br>
    <form action ="/contacts/update/<%=contact.id%>" method="get">
    <button type="submit" value="submit">Update</button>
  </form><br>
    <form method = "post" action ="/contacts/delete/<%=contact.id%>">
    <button type="submit" value="submit">Delete</button>
  </form><br>
  <form action ="/">
  <button type="submit" value="submit">Home</button>
</form><br>
  </body>
</html>
