<!DOCTYPE html>
<html>
  <head>
    <title>Yellowpage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Yellowpage by Bill, Stedy, Zulfikar</h1>
    <table>
      <tr>
        <td>Category</td>
        <td>  <form action="/categories/add">
          <button type="submit">Add</button>
        </form></td>
        <td>  <form action="/categories/update">
          <button type="submit">Update</button>
        </form></td>
      </tr>
    </table>
    <br>
    <form action="/contacts/add">
      <button type="submit">Add Business Contact</button>
    </form>
    <a href="/contacts/add"></a><br>
    <form action = "/contacts/search">
    <button type = "submit">Search Contact</a></button>
    </form>
    <br>
    <table>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Category</th>
      </tr>
      <% for (let i = 0; i < contacts.length; i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><a href="/contacts/business/<%=contacts[i].id%>"><%= contacts[i].name %></a></td>
            <td><%= contacts[i].email %></td>
            <td><%= contacts[i].phone %></td>
            <td><%= contacts[i].City.name %></td>
            <td><%= contacts[i].Category.name %></td>
        </tr>
    <%  } %>
    </table>
  </body>
</html>
