<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8">
    <title>Keyword</title>
  </head>
  <body>
    <form method = "post" action="/contacts/list/<%=value%>">
      Keyword    <input type = "text" name="keyword"><br>
      <% if (value === "City"){ %>
        <select name="value" required>
          <% for(let i = 0; i < cities.length; i++){ %>
          <option value="<%= cities[i].id %>"><%= cities[i].name %></option>
        <%  } %>
      </select><br>
      <%  } %>
      <% if (value === "Category"){ %>
        <select name= "value" required>
          <% for(let i = 0; i < categories.length; i++){ %>
          <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
    <%  } %>
  </select><br>
  <%  } %>
    <button type="submit">submit</button>
    </form>
  </body>
</html>
