<html>
  <head>
    <title>Search Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Search Result</h1>
    <table>
        <tr>
          <th> NO </th>
          <th> Business Name </th>
          <th> Phone </th>
          <th> Email </th>
          <th> City </th>
          <th> Category </th>
        </tr>
          <% for(let i=0; i<contacts.length;i++){%>
          <tr>
            <td><%= i+1 %> </td>
            <td><a href="/contacts/business/<%=contacts[i].id%>" ><%= contacts[i].name %></a></td>
            <td><%= contacts[i].phone %></td>
            <td><%= contacts[i].email %></td>
            <td><%= contacts[i].City.name %></td>
            <td><%= contacts[i].Category.name %></td>
          </tr>
          <% } %>
    </table>
    <form action ="/">
    <button type="submit" value="submit">Home</button>
  </form><br>
  </body>
</html>
