<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update Business Contact</title>
  </head>
  <body>
    <h1>Update Business Contact</h1>
    <form action="/contacts/update/<%=contact.id%>" method="post">
      <h3>Name</h3> <input type = "text" name = "name" value="<%=contact.name%>"><br>
      <h3>Phone</h3><input type = "text" name = "phone" value="<%=contact.phone%>"><br>
      <h3>Email</h3><input type = "text" name = "email" value="<%=contact.email%>"><br>
      <h3>Description</h3><textarea cols="30" rows="5" name = "description"><%=contact.description%></textarea><br>
      <h3>Categories</h3><select name = "CategoryId" required>
      <% for(let i = 0; i < categories.length;i++){%>
        <option value="<%=categories[i].id%>" <%if(contact.CategoryId===categories[i].id){%>selected="selected"<%}%>><%= categories[i].name%></option>
        <%}%>
      </select>
      <h3>Cities</h3><select name = "CityId" required>
      <% for(let i = 0; i < cities.length;i++){%>
        <option value="<%=cities[i].id%>" <%if(contact.CityId===cities[i].id){%>selected="selected"<%}%>><%= cities[i].name%></option>
        <%}%>
        </select>
      <button type = "submit">Submit</button>
    </form>
  </body>
</html>
